/* Paste your css code here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-weight: 1.25rem;
    font-size: 1.3rem;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    background-color: #454f6f;
    padding: 20px;   
  }
  .name:hover{
    
      color: rgb(255, 230, 0); 
      text-decoration: none; 
    
  }
  header h3{
    color: white;
  }
  
  ul{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-family: Arial, Helvetica, sans-serif;    
  }
  
  ul li a {
    color: white;
    padding-right: 30px;
  }
  
  ul li a:hover {
    color: rgb(255, 230, 0); 
    text-decoration: none; 
  }
  a{
    text-decoration: none;
  }
  
  /* Hero section */
  #hero{
    display: flex;
    background-color: #e6834c;
    height: 400px;
  }
  
  #hero img{
    border-radius: 100%;
    width: 30%;
    margin: 0 auto;
    padding: 20px;   
  }
  
  .text {   
    justify-content: space-between;
    text-transform: uppercase;
    width: 60%;
    color: white;
  }
  
  .text h1 {
    margin-top: 150px;
    margin-left: 300px;
    padding-left: 80px
  }
  
  .text span {
    margin-top: 200px;
    margin-left: 300px;
    padding-left: 80px
  }
  
  /* About section */
  .about{
    justify-content: center;
    text-align: center;
    background-color: #deffe6;
    width: 85%;
    margin: 0 auto;
  }
  
  .about h2{
    padding-top: 40px;
    margin: 20px;
    text-transform: uppercase;    
  }
  
  .about p{
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
  }
  
  .food{
    display: flex;
    width: 100%;
    height: 190px;
  }
  
  .boxes{
    display: flex;
    margin-left: 110px;
  }
  
  .boxes img{
    display: flex;
    border-radius:40px;
    height: 216px;
    width: 100%;
    padding: 16px 16px 0px;
    margin-left:10px;
  }
  
  .boxes p{
    text-align:justify;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.rem;
    line-height: 1.25rem;
    margin:0 auto;
  }
  
  /* Contact section */
  .container1{
    position: relative;
    width: 100%;
    margin-top: 100px;    
  }
  
  .contact-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-color:aliceblue;
    font-family: arial sans-serif;
    font-size: 20px;    
  }
  
  .left{
    background: no-repeat center;
    background-size: cover;
    height: 100%;
  }
  
  .right{
    padding: 25px 40px;
  }
  
  h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
  
  .field{
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: rgba(230, 230, 230,)
    
  }
  
  .field:hover{
    color: #e6834c;
  }
  .btn{
    padding: 10px;
    width: 100%;
    background-color: #e6834c;
  }
  
  .btn:hover {
    width: 100%;
    color:green;
    text-decoration: none; 
  }
  
  .footer{
    background-color: #e6834c;
    color: black;
    text-align: center;
  }
  
  
  @media only screen and (max-width: 600px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 1rem;
  }
  
  /* header*/
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  header h3 {
    margin-bottom: 10px;
  }
  
  ul {
    flex-direction: column;
    align-items: center;
  }
  
  ul li a {
    padding: 10px 0;
  }
  
  /* hero section */
  #hero {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  
  #hero img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .text h1 {
    margin: 0;
    text-align: center;
    padding: 0;
  }
  
  .text span {
    margin: 0;
    text-align: center;
    padding: 0;
  }
  
  /* about section */
  .about {
    width: 100%;
    padding: 20px;
  }
  
  .food {
    flex-direction: column;
    height: auto;
  }
  
  .boxes {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .boxes img {
    height: auto;
    margin-left: 0;
  }
  
  .boxes p {
    text-align: center;
    text-align: center;
    margin: 10px;
  
  }
  
  /*  contact section */
  .container1 {
    margin-top: 50px;
    padding: 20px;
  }
  
  .contact-box {
    padding: 20px;
    font-size: 16px;
  }
  
  /* footer */
  .footer {
    padding: 20px;
  }
  }
  
